<div class="row">
  <div class="col">

    <div class="container" ng-if="!found.items.length">
      Nothing Found
    </div>

    <ul class="list-group" >
      <li ng-repeat="x in found.items" class="list-group-item">

          <div class="row">
            <div class="col">
                Name: {{x.name}}<br>Short Name: {{x.short_name}}<br>Desc: {{x.description}}
            </div>

            <div class="col">
                <button class="btn btn-success" ng-click="found.onRemove({index:$index});">Don't want this one!</button>
            </div>
          </div>

      </li>
    </ul>
  </div>
</div>
