<!doctype html>

<html>
  <head>

    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body ng-app="NarrowItDownApp">
    <div class="container" ng-controller="NarrowItDownController as narrow" >
      <div class="row">

        <div class="col">
          <input type="text" class="form-control" ng-model="narrow.x">
        </div>

        <div class="col">
          <button type="button" class="btn btn-success" ng-click="narrow.getMatchedItems(narrow.x)">Narrow It Down For Me!</button>
        </div>

      </div>
      <div class="container"  ng-if="narrow.x">
        Nothing Found
      </div>

      <found-items
        x="narrow.x"
        items="narrow.items"
        on-remove="narrow.removeItem(index)"

        ng-if="narrow.x && narrow.items"
      ></found-items>

    </div>
  </body>
</html>
