<!doctype html>
<html>

  <head>
    <title></title>
    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
crossorigin="anonymous">
    <script src ="angular.min.js"></script>



          <script src="app.js"></script>
  </head>

  <body ng-app="foodLimiter">
    <div class="col-lg" ng-controller="foodController">
      <div class="row">
        <input type="text" ng-model="stringOfFood">
      </div>
      <div class="row">
        <button class="btn btn-primary" ng-click="goAheadOrNot()">Check If Too Much</button>
      </div>
      <div class="container" style="background-color:{{colorOfContainer}}">
        <div class="row">
              <h4 >{{message}}</h4>
        </div>
      </div>
    </div>
  </body>

</html>
