<!doctype html>
<html>

  <head>
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
crossorigin="anonymous">
                    <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
crossorigin="anonymous"></script>
                        <script src =
"https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>



          <script src="app.js"></script>
  </head>

  <body ng-app="foodLimiter">
    <div class="col-lg" ng-controller="foodController">
      <div class="row">
        <input type="text" ng-model="stringOfFood">
      </div>
      <div class="row">
        <button class="btn btn-primary" ng-click="goAheadOrNot()">is
it OK?</button>
      </div>
      <div class="container" style="background-color:{{colorOfContainer}}">
        <div class="row">
              <h4 >{{message}}</h4>
        </div>
      </div>
    </div>
  </body>

</html>
